# Dependencies
node_modules/
.pnp
.pnp.js

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build Outputs
dist/
build/
.next/
out/

# IDE & OS Files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
.gemini/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Flutter & Android
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
ios/.generated/
ios/Pods/
ios/Podfile.lock
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Temporary installer files
postgis_3_4_pg16.exe
